<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.app.cn.app.dao.SystemsDao">
    <select id="querySystem" resultType="java.util.Map">
        select t.runoob_id,t.runoob_title,t.runoob_author,t.submission_data from runoob_tbl t
    </select>
</mapper>